# course config files
*.yaml

# gradle
.gradle/
build


# idea config
.idea

# old stages
/Zookeeper with Java/*
!/Zookeeper with Java/task/
/Zookeeper with Java/task/*
!/Zookeeper with Java/task/src
